.titlebar{
    &.titlebar_business{
        background:url(../images/business-area.jpg)no-repeat;
        background-size:cover;
        background-position:center center;
        height: 535px;
        display: flex;
        align-items: center;
       
    }
}
.business-area{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    @include respond-below(sm){
        justify-content:center;
        }
}

.business-head{
    border:5px solid #fff;
    color:#fff;
    text-align:left;
    z-index:1;
    padding: 30px 25px;
    max-width:210px;
    font-family:captainmarvelregular;
    @include respond-below(sm){
        text-align:center;
        padding:15px;
        margin-bottom: 25px;
    }
    h1{
        font-size:4rem;
        display:inline-block;
        @include respond-above(xs){
            font-size:4.375rem;
            +span{ 
                font-size: 3.15rem;
                padding-left: 10px;
                font-family:'Source Sans Pro';
                font-weight:$font-weight-light;
                @include respond-above(xs){
                    font-size:3.5rem;
                }
            }
        }
        
    }
    .h2{
        font-size:1.5rem;
        font-weight:$font-weight-thin;
        margin:0;
        @include respond-above(xs){
            font-size:1.75rem;
        }
    }
}
.business-body{
    color:#fff;
    z-index:1;
    @include respond-below(sm){
        min-width:100%;
    }
    @include respond-above(sm){
        padding-left:40px;
       
    }
    h2{
        font-size:1.25rem;
        font-weight:$font-weight-bold;
        line-height:45px;
        margin:0;
        @include respond-above(xs){
            font-size:1.5rem;
        }
    }
}
.media{
    font-family:$font-secondary-family;
    font-weight:$font-weight-semibold;
    padding-bottom:80px;
    @include respond-below(sm){
        padding-bottom:40px;
    }
    &-holder{
        display:block;

        @include respond-above(sm){
            display:flex;
            align-items:center;
            flex-direction:horizontal;
            align-items: stretch;
        }
        
        h3{
            font-size:1rem;
            color:$black;
            line-height:1.6;
            line-height:2;
            overflow: hidden;
            @supports (display: -webkit-box) {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                white-space: normal;
            }
         
            a{
                color:inherit;
                
            }
        }
        &:not(:last-child){
           @include respond-below(sm){
            margin-bottom:25px;
           }
           @include respond-above(sm){
               margin-bottom:30px;
            }
        }
        &:nth-child(even){
            @include respond-above(sm){
            background:#FAFAFA;
         }
        }
        
    }
    &-body{
        margin-top:15px;
        
        @include respond-above(sm){
        padding:15px 20px 15px 30px;
         margin:0;
        }
    }
    &-overlay{
        position:absolute; 
        bottom:0;
        left:0;
        width:100%;
        padding:8px 10px;
        background:rgba($black,0.6);
        h6{ 
            margin:0;
            color:#fff;
            line-height:1.5;
            a{
                color:inherit;
            }
        }
    }
}
.media-thumbnail{
    width:100%; 
    height:300px;
    position:relative;
    @include respond-above(sm){
        width:225px;
        height:125px;
    }
}
 