.company-personnel{
    padding:0 0 85px 0;
    @include respond-below(md){
        padding:0 0 50px 0; 
    }
}
.contact-profile{
    background:#fafafa;
    position:relative;
}
.company-info{
    font-weight:$font-weight-semibold;
    width:100%;
    @include respond-above(sm){
        margin-left:40%;
        width:60%;
    }
    h4{
        font-size:1.25rem;
        margin-bottom:15px;
        @include respond-below(xxs){
            margin-bottom:0;
        }
    }
}
.contact-statement{
    h5{
        margin-bottom:40px;
    }
    @include respond-above(sm){
        padding-right:60px
    }
}
.info-body{
    padding:70px 0 50px 75px;
    @include respond-below(md){
        padding:50px 0 40px 40px;
   }
   @include respond-below(sm){
        padding:40px 15px 40px
   }

}
.statement-body{
    margin-bottom:45px;
    h4{
        line-height:1.8;
        margin-bottom:35px;
        @include respond-below(sm){
            text-align:center;
            font-size: 1.35rem;
        }
    }
    p{
        line-height:2;
        font-weight:$font-weight-regular;
    }
}
.company-building{
    background:url(./../images/contact-building.jpg)no-repeat;
    background-size:cover;
    background-position:center center;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 40%;
    @include respond-below(sm){
        background-size:contain; 
        position:static;
        height:600px;
        width:100%;
      
    }
}
.dataset{
    @include respond-above(xxs){
    display:flex;
    align-items: flex-start;
    }
    font-size:0.9rem;
    @include respond-below(sm){
        font-size:1rem;
    }
    &:not(:last-child){
        border-bottom:1px solid #ECECEC;
    }
    
    .key, .value{
       
        @include respond-above(xxs){
        padding:20px 0;
        line-height: 2;
    } 
    }
    .key{   
        color:#848484;
        @include respond-below(xxs){
            padding:20px 0 8px 0; 
        }
          @include respond-above(xxs){
        min-width: 165px;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 200px;
        padding-right: 40px;
        }
    }
    .value{
        font-weight:$font-weight-regular;
        flex:1;
        @include respond-below(xxs){
            padding:8px 0 20px 0;
        }
        
    }
    .valueset{
        ul{
            li{
                list-style-type:square;
                list-style-position: inside;
                margin-bottom:10px;
            }
        }
    }
    .dataset{
        @include respond-below(xs){

            display:block;
        }
        .key{
            color:$black;
            flex: 1;
            padding-right: 45px;
            @include respond-below(xs){
                padding-bottom:0;
                min-width:auto;
            }
           
        }
        .value{
            @include respond-below(xs){
                padding-top:10px;
            }
        }
        border:none;
       
    }
} 

.representative{
    @include respond-below(sm){
        order:1;
        margin-bottom:25px;
    }
}
.message{
    @include respond-below(sm){
        order:2;
    }
}
.google-map{
    margin-bottom:-5px;
}
iframe{
    width:100%;
}