

.teaser-announcements {
    background: #F7F7F7;
    padding: 25px 0;
    @include respond-above(md){
        padding: 30px 0;
        .link {
            margin-left: auto;
        }

        .title {
            padding-right: 35px;
            margin-bottom: 0;
        }
    }
    .announcements {
        span {
            @include prime-gradient();
            border-radius: 5px;
            padding: 10px 25px;
            color: #fff;
            display: inline-block;
            font-weight: $font-weight-light
        }
    }

    .listing {
        font-size: 1.13rem;
        font-family: $font-secondary-family;
        font-weight: $font-weight-medium;
        @include respond-below(md){
            flex-wrap: wrap;
        }
    }

    .date {
        padding: 0 45px 0 20px;
        @include respond-below(md){
            padding-left: 5px;
        }
    }
}

.about-company {
    @include respond-above(sm){
        padding:85px 0;
    }
    padding: 50px 0;
}

.section-about {
    h2 {
        font-family: $font-other-family;
        letter-spacing: 1.5px;
        margin-bottom: 20px;
        font-size: 2.5rem;
        font-weight: $font-weight-regular;

        span {
            font-weight: $font-weight-medium;
            text-transform: uppercase;
            color: $primary-color;
            margin-top:5px;
            
            display:inline-block;
            @include respond-above(xxs){
                margin-left: 10px;
                margin-top:0;
            }
           
        }
    }

    p {
        font-size: 1rem;
        line-height: 32px;
        font-weight: $font-weight-regular;
    }

}

.about-image {
    max-width: 500px;
    margin: 0 auto;
}

.company-hiring {
    @include respond-above(sm){
        padding-bottom:80px;
    }
    padding-bottom: 50px;
}
.work-force{
    
            &:not(:last-child){
                margin-bottom:40px;
                @include respond-above(md){
                margin-bottom:50px
                 }
        }
}
.hiring-type { 
    a {
        display: block;
        transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);

        &:hover {
            transform: translateY(-15px);
            box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.2);
        }


    }
}

.hiring-thumb {
    height: 340px;
    overflow: hidden;




}

.hiring-body {
    background: rgb(72, 72, 72);
    background: linear-gradient(0deg, rgba(72, 72, 72, 1) 0%, rgba(72, 72, 72, 0) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 25px 25px 0 25px;
}

.hiring-body-title {

    h4 {
        font-size: 4.68rem;
        color: $white;
        text-transform: uppercase;
        font-family: $font-other-family;
        font-weight: $font-weight-bold;
        letter-spacing: 2px;
        margin-bottom: -19px;
    }

    h6 {
        font-size: 1.375rem;
        font-weight: $font-weight-medium;
        color: #fff;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }
}

.company-features {
    background: #F9F9F9;
    @include respond-above(sm){
    padding:80px 0 100px;
        }
    padding:50px 0 60px;
}
.feature-type{
    &:not(:last-child){
        margin-bottom:40px;
        @include respond-above(sm){

        }
    }
    
}
.zoom-hover{
        height:100%;
        transform-origin: 50% 65%;
        @include transition(transform 1s ease-in-out);
    
  
}
.holder {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.18);
    border-radius: 5px;
    background: #fff;
    &:hover{
        .zoom-hover {
            @include transform (scale(1.25));
        }
    }
    &-description {
        padding: 20px;
    }

    &-title {
        a {
            color: #161616;
            font-weight: $font-weight-medium;
            font-size: 20px;
            letter-spacing: 2px;
            margin-bottom: 10px;
            text-decoration:none;
            span {
                width: calc(100% - 25px);
                display: inline-block;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }

    &-info {
        p {
            font-size: 0.875rem;
            font-weight: $font-weight-regular;
            color: #161616;

        }
    }
}

.holder-image {
    height: 218px;
    overflow: hidden;
}

.background-holder {
    @include prime-gradient();
    position: absolute;
    left: 0;
    top: 0;
    display: block;

    width: 50%;
    height: 480px;
    z-index: 2;
    @include respond-below(md){
       
            width: 100%;
       
    }
    @include respond-below(xxs){
        height: 320px;
   
    }
}

.learn-more {
    padding-bottom: 300px;
    background:#fff;
    overflow: hidden;
    @include respond-below(md){ 
        padding-bottom: 400px;
    }
    @include respond-below(sm){
        padding-bottom:340px;
    }
    @include respond-below(xxs){
        padding-bottom:220px;
    }
    &:after {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        width: 50%;
        height: 100%;
        background: url("../images/building-overlay.jpg");

    }
}

.learn-link {
    &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;

    }

    height:480px;
    z-index: 2;
    position:relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    h3 {
        width: 100%;
        color: #fff;
        font-size: 3.125rem;
        font-family: $font-other-family;
        font-weight: $font-weight-medium;
        letter-spacing: 2px;
        margin-bottom: 35px;
    }
}
.about-learn,
.background-holder, .learn-link{
    @include respond-below(md){
        height: 450px;
        }
    @include respond-below(sm){
        height: 350px;
        }
}
.learn-more-links {
    align-self: baseline;
    z-index:3;
    .btn {
        margin-bottom: 15px;
        display:flex;
    }
}

.side-bannertop {
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: -40px;
    background-size: cover;
    width: 55%;
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    @include respond-below(md){
            width: 100%;
            height: 400px;
            bottom: 140px;
    }
    &:hover {
        transform: translateY(-35px);
    }


}



.side-banner {
    position: absolute;
    z-index: 2;
    padding: 0 40px;
    right: 0;
    background: url(../images/learnmore.png) no-repeat;
    background-position:top center;
    background-size: cover;
    width: 55%;
    height: 560px;
    bottom: -20px;
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    @include respond-above(md){
        background-position:center left;
    }
    @include respond-below(md){
        width:100%;
        height:500px;
    }
    @include respond-below(sm){
        height: 420px;
        bottom: -20px;
    }
    @include respond-below(xxs){
        height:270px;
        bottom: 0;
    }
    &:hover {
        transform: translateY(-15px);
    }


}