.titlebar{
    background:url(../images/titlebar-bg.jpg)no-repeat;
    padding:120px 0 60px;
  
    h1{
        font-size:1.5rem;
        color:$white;
        z-index:1;
        position:relative;
        margin:0;
    }
}
section{
    &.notices{
        font-family:$font-secondary-family;
        padding-bottom:40px;
        @include respond-above(sm){
            padding-bottom:80px;
        }
    }
}

.notices-year{
    font-size:1.5rem;
    color:#848484;
    border-bottom:1px solid #dbdbdb;
    padding-bottom:10px;
    margin-bottom:15px;
    
}
.post{
    .no-data{
        color:#B6B6B6;
        font-size:1.125rem;
        width:100%;
        
    }
}

.nav-capsule{
    @include respond-below(md){
        display:none;
    }
    justify-content:center;
    .nav-item{
        padding:0 12px;
        a{
            padding:12px 35px;
            border:1px solid #DADADA;
            border-radius:100px;
            color:#626262;
            letter-spacing:2px;
            
            @include transition (0.3s ease);
            &.active,&:hover{
                background:$primary-color;
                color:$white;
                border:1px solid transparent;
             }
        }
    }
}
.panel-heading{
    @include respond-above(md){
        display:none;
    }
}
.notices-body{
    .panel-body{
        padding:40px 0;
        .collapse:not(.show){
            display:block;
        }
    }
 
    .post{
        display:flex;
        flex-wrap:wrap;
        align-items: baseline;
        padding:25px 0;
        border-bottom:1px solid #DBDBDB;
        &:last-child{
            border:none;
        }

    }
    
}
.post-date{
    font-size:1.125rem;
    display:inline-block;
    padding:0 40px 0 50px;
}
.post-title{
    flex-grow:1;
    flex-basis:0;
    overflow: hidden;
    @supports (display: -webkit-box) {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          white-space: normal;
      }
    a{
        color:black;
        text-decoration:none;
        font-size:1.15rem;
        
            &:hover{
                color:$primary-color;
            }
    }
}
.titlebar-stepper{
    padding:100px 0 30px;
}



//notice-detail


.notice-post{
    &:not(:last-child){
        margin-bottom:30px;
    }
}
.notice-article{
    font-family:$font-secondary-family;
    padding-bottom:50px;
    @include respond-above(sm){
    padding-bottom:150px;
    }
}

.article-date{
    font-size:1.25rem;
    margin-bottom:15px;
}
.article-title{
    border-bottom:1px solid #E4E4E4;
    margin-bottom: 30px;
    padding-bottom: 20px;
    h3{
        font-size:1.125rem;
        line-height:1.75rem;
        padding-right:40px;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
}
.article-column{
 
    p{
    margin-bottom:1.5rem;
}
}
.article-summary{
    margin-bottom:30px;
}
.article-subtitle{
    h6{
    font-weight:$font-weight-semibold;
    margin-bottom:30px;
    
    }
}
.article-highlight{
    background:#F7F7F7;
    padding:15px;
    border-left:3px solid #D4D4D4;
    ul{
        li{
            list-style-type: disc;
            list-style-position: inside;
           
            &:not(:last-child){
                margin-bottom:15px;
            }
        }
    }
}
.article-thumbnail{
    margin-bottom:40px;
}
.article-footer{
    li{
        margin-bottom:25px;
        display:block
    }
}


.pagination{
    .page-item{
        &:not(:last-child){
            a{
            margin-right:12px;
            }
        }
        &.active{
            a{
                background-color:$primary-color;
                border-radius:5px;
                color:$white;
            }
        }

        .page-link{
            border:none;
            outline:none; 
            color:#9E9E9E;
            font-weight:$font-weight-bold;
            display:inline-block;
            margin:0;
            padding:0;
            min-width:34px;
            height:39px;
            display:flex;
            align-items:center;
            justify-content: center;
            box-shadow:none;
            @include transition (0.3s ease);
            
             &:hover{
                background-color:$primary-color;
                border-radius:5px;
                color:$white;
            } 
           
        }
    }
}

