footer{
    @include respond-above(sm){
    
    }
    
}
.footer-top {
    background: url(../images/footer-buildings.jpg) no-repeat;
    background-size: cover;
    position: relative;
    padding: 50px 0;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6)
    }
}

.links-footer{
    width:100%;
     padding:0;
         @include respond-above(xxs){
            width: 50%;
            padding: 0 15px;
        }
        @include respond-above(md){
            width: 25%;
            padding: 0 30px;
        }
        li{
            list-style-type: none;
            a{
                margin-bottom:35px;
                &:last-child{
                    margin-bottom:45px;
                }
            }
            &:not(:last-child){
                a{
                    margin-bottom:25px;
                    @include respond-above(md){
                        margin-bottom:35px;
                    }
                }
                
            }
            a {
                color: #fff;
                font-size: 0.875rem;
                font-weight: $font-weight-medium;
                display: block;
                letter-spacing: 2px;
                
                
            }
        }
}
// .links-footer {
//     width: 25%;
//     margin: 0;
//     padding: 0 30px;

//         @include respond-below(md){
//                 padding:0 15px;
//                 width: 50%;
//                 margin-bottom: 60px;
//             }
        
//             @include respond-below(xxs){
//                 width:100%;
//                 padding:0;
//                 &:last-child{
//                     margin-bottom:40px;
//                 }
//             }
//     li {
//         list-style-type: none;
//         &:not(:last-child) {
//             a {
//                 margin-bottom: 25px;
//                 @include respond-above(sm){
//                     margin-bottom:35px;
//                 }
//             }
//         }
//         a {
//             color: #fff;
//             font-size: 0.875rem;
//             font-weight: $font-weight-medium;

//             display: block;
//             letter-spacing: 2px;
//         }

//         &:not(:last-child) {
//             a {
//                 margin-bottom: 35px;
//             }
//         }
//     }
// }

.footer-logo {
    display: flex;
    align-self: flex-end;
    z-index: 1;
    @include respond-below(md){
        width: 100%;
        justify-content: center;
        margin-top: 0;
    }
    @include respond-below(xxs){
        justify-content: flex-start;
    }
}

.footer-bottom {
    padding: 40px 0 30px;

}

.copyright {
    p {
        font-size: 0.93rem;
        color: #848484;
        letter-spacing: 1px
    }
}

.fotoer-social-media {
    a {
        color: #848484;
        display: inline-block;
        font-size: 20px;
        color: #848484;
        padding: 0 10px;
        @include transition(0.3s ease);

        &:hover {
            color: $black;
        }
    }

}