header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.navbar {
    &.navbar-custom {
        background: rgba(0, 0, 0, 0.4);
        padding: 0 25px;
        @include respond-below(md){
            background:#212121;
            padding: 15px;
        }
        .nav-item {
            
                @include respond-below(md){
                    &:not(:last-child) {
                            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    }
                }
            >a {
               
                padding:20px 30px;
                color: #fff;
                display: inline-block;
                position: relative;
                font-weight: $font-weight-regular;
                @include transition(0.45s ease);
                @include respond-below(md){
                    display: block;
                    padding: 15px;
                    font-weight: $font-weight-medium;
                    color:$black;
                    
                }
                @include respond-below(xs){ 
                    text-align:center;
                }
                &:hover {
                    color: $black;
                    background:$white;
                }
            }

            > &.active {
                a {
                    color: $primary-color;
                }
            }
        }
        .dropdown-menu{
            width:550px;
            left:auto;
            right:0;
            padding:0;
            margin:0;
            display:block;
            opacity:0;
            visibility:hidden;
            box-shadow:0 4px 15px rgba(0,0,0,0.20);
            border:none;
            border-radius:0; 
            @include transition(0.5s ease);
            @include respond-below(md){
                display:none;
                width:100%;
                padding:0 15px;
            }
            @include respond-below(xs){
                position:static;
               width:100%;
               text-align:center;
               box-shadow: none;;
            }
            @include respond-below(md){
                display:none;
                box-shadow:none;
                &.show{
                    display:block;
                    opacity:1;
                    visibility:visible;
                }
            }
        }
    }

}
.sub-menu{
  padding-top:40px;
  padding-bottom:40px;
  position:relative;
  @include respond-below(md){
    padding-top:10px;
    padding-bottom:10px;
}
  &:after{
      @include respond-above(md){
    content: "";
    position: absolute;
    bottom: 0;
    right: 15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 3rem 3rem;
    border-color: transparent transparent #007bff transparent;
}
//    @include respond-below(sm){
//        padding-top:20px;
//        padding-bottom:20px;
//        right:0;
//    }
  }
  h6{
     margin-bottom:30px; 
  }
  ul{
      li{
          position:relative;
        &:not(:last-child){
            margin-bottom:20px;
        }
        &:before {
            display: inline-block;
            content: "_";
            width: 1em;
            position:absolute;
            bottom:5px;
        }
      }
  }
  .menu-item{
      font-size:0.85rem;
      color:$black;
      padding-left:1.5rem;
      display:inline-block;
     
     
  }
}
.menu-image{
        height:250px;
        @include respond-below(md){
            display:none;
        }
   
}
.navbar-toggler-icon {
    width: 30px;

    position: relative;
    transform: rotate(0deg);
    @include transition(0.5s ease-in-out);
    cursor: pointer;

    span {
        outline: none;
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: #fff;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        @include transition(0.25s ease-in-out);

        &:nth-child(1) {
            top: 0px;
        }

        &:nth-child(2),
        &:nth-child(3) {
            top: 10px;
        }

        &:nth-child(4) {
            top: 20px;
        }

    }

}

.navbar-toggler {
    &.open {
        .navbar-toggler-icon {
            span {
                &:nth-child(1) {
                    top: 18px;
                    width: 0%;
                    left: 50%;
                }

                &:nth-child(2) {
                    transform: rotate(45deg);
                }

                &:nth-child(3) {
                    transform: rotate(-45deg);
                }

                &:nth-child(4) {
                    top: 18px;
                    width: 0%;
                    left: 50%;
                }
            }
        }
    }
}
.dropdown{
    &:hover{
        .dropdown-menu  {
           
            opacity:1;
             visibility:visible;
             
        }
    } 
    &-toggle{
        &::after{
            display:none
        }
    }
}
.banner-slider {
    .carousel-caption {
       
        bottom: auto;
        z-index:1;
        @include respond-above(xxs){
            top: 50%;
            transform: translateY(-50%);
        }
        @include respond-below(xxs){
            top:45%;
            transform: translateY(-45%);
        }
    }
}
.carousel-inner .material-icons{
       font-size:1.25rem;
   }
.carousel-item {
   
    @include respond-above(md){
        height:100vh;
    }
    // @include respond-above(xxl){
    //     height: calc(100vh - 80px);
    // }
  
    @include respond-below(md){
        height:700px;
    }
   

  
    @include respond-below(xs){
        height: 560px;
    }
  
  
    img {
        object-fit: cover;

        width: 100%;
        height: 100%;
    }

 

  
}
.carousel-caption{
    .btn-link{
        &:hover{
            i{
                transform: translateX(15px);  
            }
        }
        i{
            vertical-align: middle;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-transition-duration: .1s;
            transition-duration: .1s;
            -webkit-transition-property: transform;
            -webkit-transition-property: -webkit-transform;
            transition-property: -webkit-transform;
            transition-property: transform;
            transition-property: transform,-webkit-transform;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }
    }
}
.carousel-item {
 &:nth-child(2), &:nth-child(3) {
        .carousel-caption {
            color: $black 
        }
       
        .link-more {
            .btn-link {
                color: $black; 

            }
        }
       
    }

    &:nth-child(3), &:nth-child(4){
        .container-small {
            margin-left: 0;
            margin-right: 0;
        }

        .carousel-caption { 
            text-align: left;
        }
        .container-md{
            margin:0;
        }
    }
}

.carousel-caption {
    @include respond-below(md){
        width: 100%;
        left: 0;
    }
    @include respond-below(sm){
        width: 100%;
        left: 0; 
    }
    
    h5 {
        @include respond-below(md){
                font-size: 2rem;
        }
        @include respond-below(sm){
                font-size: 2rem;
        }
        @include respond-below(xs){
                font-size: 1.5rem; 
                margin-bottom:25px;
        }
        @include respond-below(xxs){
            font-size: 1.35rem; 
            margin-bottom:20px;
        }
        font-size: 2.37rem;
        font-weight: $font-weight-medium;
        margin-bottom: 35px;
        line-height: 1.5;
       
    }

    p {
        font-size: 1.5rem;
        font-weight: $font-weight-medium;
        margin-bottom: 25px;
        line-height: 1.5;
        font-family: $font-secondary-family;
        @include respond-below(md){
                font-size: 1.4rem;
        }
        @include respond-below(sm){
                font-size: 1.3rem;
                margin-bottom:25px;
        }
        @include respond-below(xs){
                font-size: 1rem;
        }
    }

}

.link-more {
    .btn-link {
        color: $white;
        font-size: 1.15rem;
        letter-spacing: 4px;
        @include respond-below(sm){
            font-size:1.05rem;
        }
    }
}